

<header class="main-header">
    <nav class="navbar navbar-static-top">
            <div class="personInfo">
                <div class="userImg">
                    <span style="display: none" id="findName" data-name="{{user.username}}"></span>
                    <img  class="img-circle" src="{{user.imgUrl}}" alt="User Image">
                </div>
                <span class="userName">Zhangle</span>

                <span class="userSelfIntr">Web Designer</span>

            </div>
                <a href="/admin/newsList" class="btn btn-default btn-flat">后台管理</a>
                <a href="/login" class="btn btn-default btn-flat">退出</a>
            <li  class="dropdown messages-menu" style="margin-left: 82px;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have 4 messages</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            <!-- start message -->
                            <li>
                                <a href="#">
                                    <div class="pull-left">
                                        <img src="/images/icon.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                        Support Team
                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                </a>
                            </li>
                            <!-- end message -->
                        </ul>
                    </li>
                    <li class="footer"><a href="#">See All Messages</a></li>

                </ul>
            </li>


        <form id="search">
            <input id="params" placeholder="输入关键字搜索" type="text">
            <button type="submit" id="putParams"><i class="fa fa-search"></i></button>
        </form>
        <button class="button button-glow button-rounded button-caution linkChat" style="margin-top: 50px;">
            <i class="fa fa-comment-o fa-lg"></i></button>
        {{#each user.friends}}
            <div class="FriList">
                <div>{{username}}</div>
                <img src="{{imgUrl}}" style="width:100px; ">
            </div>
        {{/each}}
    </nav>

</header>

<script src="/blog/head.js"></script>