<div class="navBar">
    <div class="navBar-Content">
        <span>Online Test Site</span>
        <span style="align-self: flex-end;font-size:16px;margin-bottom: 10px;">For Student</span>
    </div>
</div>
<div class="bc">

    <div class="main">
        <span class="QuestionDetail">
            You are given two linked lists representing two non-negative numbers.
            The digits are stored in reverse order and each of their nodes contain a single digit.
            Add the two numbers and return it as a linked list.

        </span>
        <textarea class="inputTe"></textarea>
        <div class="submit">
            <button class="button button-pill button-primary">Submit</button>
        </div>
    </div>

</div>
<script src="/lib/myjs/mainjs.js"></script>