<div class="navBar">
    <div class="navBar-Content">
        <span>Online Test Site</span>
        <span style="align-self: flex-end;font-size:16px;margin-bottom: 10px;">For Student</span>
    </div>
</div>
<div class="bc">

    <div class="ready">
        <span >考试10:00开始</span>
        <span id="deltaTime"></span>
        <button id="startTest" class="button button-highlight  button-large">Go</button>
    </div>
</div>
<div class="testInfo">
    <span class="welcome">Welcome!TOM!</span>
    <div class="selectNumber">
        <span class="coverLine">编号:</span>
        <span class="Number">1</span>
        <span class="Number">2</span>
        <span class="Number">3</span>
        <span class="Number">4</span>
        <span class="Number">5</span>
    </div>
</div>
<script>
    window.scriptData = JSON.stringify({{{scriptData}}});
    window.scriptData=eval("("+window.scriptData+")");//转换为json对象
    console.log(window.scriptData);
</script>
<script src="/lib/netConnection/netConnection.js"></script>
<script src="/lib/myjs/mainjs.js"></script>