<div class="essaybar">
    <h2 style="margin-top: 20px;margin-left: 20px; max-width: 600px;float: left;overflow: hidden;display: inline;max-height: 33px;">最多能写二十个字后面继续凑字数急需凑字数</h2>
    <div class="essaybarcontent">
        <img src="/images/bizhi.jpg" style="max-width: 300px;max-height: 300px;">
        这里面是内容，关于文章的的内容，可能也会有img，还会有代码
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        1111111111111111111111111111111111111111111111111111111111111111111111111111111
        1111111111111111111111111111111111111111111111111111111111111111111111111111111        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111
        111111111111111111111111111111111111111111111111111111111111111111111111111

    </div>
    <h4 style="margin-top: 15px;margin-right: 15px;margin-bottom: 10px;float: right;">发表日期：2016-06-29 09:58</h4>
</div>