<div class="topbar">
    <div class="topbar-inner normalwidth">
        <div class="img-name becenter">
            <img src="/images/icon.jpg">
            <span>用户名</span>
        </div>
        <div class="info becenter">
            <i class="fa fa-envelope-o fa-lg"></i>
            <div class="info-envelope">4</div>
        </div>
    </div>
</div>