<div class="topbar">
    <div class="topbar-inner">
        <div class="img-name becenter">
            <img src="/images/icon.jpg">
            <span>用户名</span>
        </div>
        <div class="info becenter">
            <i class="fa fa-envelope-o fa-lg"></i>
        </div>
    </div>
</div>