<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="hold-transition skin-red layout-boxed sidebar-mini">
    {{>header}}
    <div class="wrapper">
        {{>sidebarAdmin}}
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>