<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body  style="background: linear-gradient(#c362d7, #126bb3);">
    {{>leftBar}}
    <div class="wrapper">
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>