<div class="bc">

    <div class="selectTable">
        <div class="table">
        </div>
        <div class="seats">
            <div class="seat">
                <div class="place" data-tag="place">
                </div>
            </div>
            <div class="seat">
                <div class="place" data-tag="place">
                </div>
            </div>
            <div class="seat">
                <div class="place" data-tag="place">
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    window.scriptData = JSON.stringify({{{scriptData}}});
    window.scriptData=eval("("+window.scriptData+")");//转换为json对象
    console.log(window.scriptData);
</script>
<script src="/lib/myjs/myjs.js"></script>
<script src="/lib/card/netConnection.js"></script>
<script src="/lib/myjs/compCards.js"></script>