<div class="box-personInfoHead">
    <img  src="/images/icon.jpg" alt="User Image">
    <div class="nameAndSummary">
        <span class="name">折柳画马</span>
        <span class="summary">跟随李阳老师的脚步学习nodejs以及mongodb</span>
    </div>
</div>