<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>weChat</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/lib/configuration/configurationCss.css">
<link type="text/css" rel="stylesheet" media="screen" href="/lib/font-awesome-4.5.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" media="screen" href="/lib/taobaoFont/demo.css">
<link type="text/css" rel="stylesheet" media="screen" href="/lib/taobaoFont/iconfont.css">
<link rel="stylesheet" href="/lib/buttons/css/buttons.css">




<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/buttons/js/buttons.js"></script>

