<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>weChat</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/lib/configuration/configurationCss.css">
<link rel="stylesheet" href="/lib/buttons/css/buttons.css">


<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script type="text/javascript" src="/lib/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/lib/buttons/js/buttons.js"></script>
