<div class="bc">
    <div class="user">
        <div class="showCardLine">


        </div>
        <div class="avatar">
            <img src="/images/doge.jpg">
        </div>
        <div class="sendCards">
            <button  id="sendCards" class="button button-glow button-rounded button-primary">出牌</button>
            <button  id="clearCards" class="button button-glow button-rounded button-primary">清空</button>

        </div>
        <div class="cardsLine">

        </div>

    </div>
</div>