<div class="bc">

    <div class="selectTable">
        <div class="table">
        </div>
        <div class="seats">
            <div class="seat">
                <div class="place">
                </div>
            </div>
            <div class="seat">
                <div class="place">
                </div>
            </div>
            <div class="seat">
                <div class="place">
                </div>
            </div>

        </div>
    </div>


</div>
<script src="/card/card.js"></script>